<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Out OF Context</title>
    <link rel="icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

    <div class="page-container">

        <button id="home-btn"><div></div></button>

        <!-- GAME RUNNING UI -->
        <div id="write-container">
            <p id="write-info">Begin the story</p>
            <div class="home-grid">
                <p id="prev-sentence"></p>
                <div style="display: flex; flex-direction: row">
                    <textarea id="write-area"></textarea>
                </div>
                <button id="write-submit">End Turn</button>
            </div>
        </div>

        <!-- GAME ENDS UI -->
        <div id="game-end-container" style="display: none;">
            <h1 style="text-align: center; font-size: 3rem;">Story Complete</h1>
            <div class="home-grid">
                <p id="game-end-text"></p>
                <p>play another round?</p>
                <button id="ready">ready</button>
            </div>
        </div>
    </div>

    <script>
        const playerIcon = document.getElementById('player-icon');
        const homeBtn = document.getElementById('home-btn');
        const writeContainer = document.getElementById('write-container');
        const writeInfo = document.getElementById('write-info');
        const prevSentenceHTML = document.getElementById('prev-sentence');
        const writeArea = document.getElementById('write-area');
        const writeSubmit = document.getElementById('write-submit');
        const gameEndContainer = document.getElementById('game-end-container');
        const gameEndText = document.getElementById('game-end-text');
        const readyBtn = document.getElementById('ready');

        let clientID = null;
        let gameID = null;
        let playerData = {};
        let playOrder = null;


        // EVENT LISTENER TO LEAVE THE GAME
        homeBtn.addEventListener('click', ()=> {
            window.location.href = '/';
            Request('leave-game', 'POST');
        });

        // EVENT LISTENER FOR STARTING THE GAME
        readyBtn.addEventListener('click', ()=> {
            readyBtn.style.background = "white";
            Request('player-ready-to-play-again', 'POST', {}).then(response => {
            }).catch(error => { console.error('Error:', error); });
        });
        

        Init();

        function Init()
        {
            // GET THE CLIENT ID FROM THE SERVER
            Request('game-info', 'GET').then(response => {
                clientID = response.clientID;
                gameID = response.gameID;
                playerData = response.playerData;

                // CONNECT SOCKET TO GAME ROOM
                socket.emit('joinGame', gameID);

                // EVENT LISTENER TO SUBMIT SENTENCE
                writeSubmit.addEventListener('click', ()=> {
                    writeSubmit.style.background = "white";
                    SubmitSentence();
                });

            }).catch(error => { console.error('Error:', error); });
        }

        const socket = io(window.location.hostname === 'localhost' 
                ? 'http://localhost:8080' 
                : 'https://out-of-context-0b91e7b9a70a.herokuapp.com', {
            withCredentials: true  
        });
        socket.on('connect', () => {
            console.log('Connected to the server!');
        });
        socket.on('disconnect', () => {
            console.log('Disconnected from server!');
        });
        socket.on('playerLeft', (data) => {                         // PLAYER LEAVES ROOM
        
        });
        socket.on('nextRound', (data) => {
            let prevSentence = data.stories[data.sentenceIndices[clientID]][data.stories[0].length -1];
            StartRound(prevSentence);
        });
        socket.on('gameEnded', (data) => {
            EndGame(data.stories);
        });
        socket.on('playAgain', (data) => {
            ResetGame();
        });

        function ResetGame()
        {
            writeSubmit.style.background = "var(--green-light)";
            readyBtn.style.background = "var(--green-light)";
            writeInfo.textContent = 'Begin the story';
            prevSentenceHTML.textContent = '';
            writeArea.value = '';
            writeArea.disabled = false;
            writeContainer.style.display = 'block';
            gameEndContainer.style.display = 'none';
        }

        function StartRound(prevSentence)
        {
            writeSubmit.style.background = "var(--green-light)";
            writeInfo.textContent = 'Continue the story:';
            prevSentenceHTML.textContent = prevSentence;
            writeArea.value = '';
            writeArea.disabled = false;
        }

        function SubmitSentence()
        {
            sentence = writeArea.value;
            writeArea.disabled = true;

            // SEND SENTENCE TO SERVER
            Request('submit-sentence', 'PUT', { sentence: sentence })
        }

        function EndGame(stories)
        {
            writeContainer.style.display = 'none';
            gameEndContainer.style.display = 'block';
            gameEndText.textContent = stories[0];
        }

        async function Request(endpoint, method, body=null) 
        {
            const baseURL = window.location.hostname === 'localhost' 
                ? 'http://localhost:8080/api/' 
                : 'https://out-of-context-0b91e7b9a70a.herokuapp.com/api/';
            const URL = `${baseURL}${endpoint}`;
            const response = await fetch(URL, {
                method: method,
                headers: { 'Content-Type': 'application/json' },
                body: body ? JSON.stringify(body) : null  
            });
            
            if (!response.ok) {
                throw new Error(`"${endpoint}" request failed. status: ${response.status}`);
            }
            
            const data = await response.json();
            return data;
        }
    </script>
</body>
</html>