<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Out OF Context</title>
<link rel="stylesheet" href="/styles/style.css">
</head>
    <body>


        <div class="page-container">
            <h1>Invited to game</h1>

            <div id="player-icon" class="player-icon"><button id="change-icon"></button></div>

            <div id="home-grid">
                <input type="text" placeholder="coolnickname" id="name-input">
                <button id="home">home</button>
                <button id="join-game">join game</button>
            </div>
        </div>

        

        <!-- place the game id in the hidden field -->
        <script>

            const homeButton = document.getElementById("home");
            const nameInput = document.getElementById('name-input');
            const changeIcon = document.getElementById('change-icon');
            const playerIcon = document.getElementById('player-icon');
            const joinBtn = document.getElementById('join-game');

            const urlParams = new URLSearchParams(window.location.search);
            const gameID = urlParams.get('game');


            // EVENT LISTENER FOR CHANGING PLAYER'S NAME
            nameInput.addEventListener('change', ()=> {
                Request('change-name', 'PUT', { newName: nameInput.value }).then(repsonse => {
                    
                }).catch(error => { console.error('Error:', error); });
            });

            // EVENT LISNTENER FOR CHANGING PLAYER'S CHARACTER ICON
            changeIcon.addEventListener('click', ()=> {
                Request('change-icon', 'POST').then(response => {
                    console.log("image path:", `url("/assets/${response.icon}.png")`);
                    playerIcon.style.background = `url("/assets/${response.icon}.png")`;
                }).catch(error => { console.error('Error:', error); });
            });

            // EVENT LISTENER FROM PRESSING HOME BUTTON
            homeButton.addEventListener('click', ()=> {
                window.location.href = "/";
            });

            // EVENT LISTENER FOR JOINING GAME
            joinBtn.addEventListener('click', ()=> {
                Request('game-available', 'POST', {gameID: gameID}).then(response => {
                    if (response.available)
                    {
                        console.log("[Join Game] game is available!");
                        Request('join-game', 'POST', {gameID: gameID}).then(response => {
                            window.location.href = response.url;
                        });
                    }
                    else { alert("Game is no longer available"); }
                });
            });

            Init();

            function Init()
            {
                // GET THE PLAYER'S ICON NAME FROM THE SERVER
                Request('player-icon', 'GET').then(response => {
                    playerIcon.style.background = `url("/assets/${response.icon}.png")`;
                }).catch(error => { console.error('Error:', error); });
            }

            async function Request(endpoint, method, body=null) 
            {
                const baseURL = window.location.hostname === 'localhost' 
                    ? 'http://localhost:8080/api/' 
                    : 'https://out-of-context-0b91e7b9a70a.herokuapp.com/api/';
                const URL = `${baseURL}${endpoint}`;
                const response = await fetch(URL, {
                    method: method,
                    headers: { 'Content-Type': 'application/json' },
                    body: body ? JSON.stringify(body) : null  
                });
                
                if (!response.ok) {
                    throw new Error(`"${endpoint}" request failed. status: ${response.status}`);
                }
                
                const data = await response.json();
                return data;
            }
        </script>
    </body>
</html>