<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Out OF Context</title>
    <link rel="icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

    <div class="page-container">

        <button id="home-btn"><div></div></button>
    
        <div id="player-list">
            <!-- dummy empty playe -->
            <div class="player-item" style="width: 0; padding: 0; margin-top: calc(1rem + 2px); margin-right: 0; border: none;">
                <div class="other-player-icon"></div>
                <div style="color: var(--pink-light);">T</div>
            </div>
        </div>

        <div id="player-icon" class="player-icon"><div id="player-icon-image"></div><button id="change-icon"></button></div>

        <div class="home-grid">
            <input type="text" placeholder="Guest" id="name-input" style="margin-top: 2rem;">
            <button id="inviteBtn">invite</button>
            <button id="start-game">start game</button>
        </div>
    </div>




    <script>

        const nameInput = document.getElementById('name-input');
        const playerList = document.getElementById('player-list');
        const changeIcon = document.getElementById('change-icon');
        const playerIconImage = document.getElementById('player-icon-image');
        const inviteBtn = document.getElementById('inviteBtn');
        const startGame = document.getElementById('start-game');
        const homeBtn = document.getElementById('home-btn');

        let clientId = null;
        let gameID = null;
        let playerData = {};

        // EVENT LISTENER FOR CHANGING PLAYER'S NAME
        nameInput.addEventListener('change', ()=> {
            Request('change-name', 'PUT', { newName: nameInput.value, gameID: gameID }).then(repsonse => {
                
            }).catch(error => { console.error('Error:', error); });
        });

        // EVENT LISNTENER FOR CHANGING PLAYER'S CHARACTER ICON
        changeIcon.addEventListener('click', ()=> {
            Request('change-icon', 'POST', { gameID: gameID }).then(response => {
                playerIconImage.style.background = `url("/assets/${response.icon}.png")`;
            }).catch(error => { console.error('Error:', error); });
        });

        // EVENT LISTENER FOR STARTING THE GAME
        startGame.addEventListener('click', ()=> {
            Request('start-game', 'POST', {}).then(response => {
                window.location.href = response.url; 
            }).catch(error => { console.error('Error:', error); });
        });

        // EVENT LISTENER TO LEAVE THE GAME
        homeBtn.addEventListener('click', ()=> {
            Request('leave-game', 'POST').then(response => {
                window.location.href = response.url;
            });
        })

        Init();

        function Init()
        {
            // GET THE CLIENT ID FROM THE SERVER
            Request('game-info', 'GET').then(response => {
                clientId = response.clientId;
                gameID = response.gameID;
                playerData = response.playerData;

                // SET CLIENT'S ICON
                playerIconImage.style.background = `url("/assets/${response.icon}.png")`;

                // SET CLIENT'S GAMERTAG
                nameInput.value = response.gamertag;

                // CONNECT SOCKET TO GAME ROOM
                socket.emit('joinGame', gameID);

                // EVENT LISTENER FOR INVITE BUTTON
                inviteBtn.addEventListener('click', ()=> {
                    const inviteURL = window.location.hostname === 'localhost' 
                    ? `http://localhost:8080/invited/?game=${gameID}` 
                    : `https://out-of-context-0b91e7b9a70a.herokuapp.com/invited/?game=${gameID}`
                    navigator.clipboard.writeText(inviteURL);
                });
                
                // OTHER PLAYER'S DATA 
                for (let i=0; i<playerData.gamertags.length; i++) {
                    console.log("Add player to html");
                    AddPlayer(playerData.gamertags[i], playerData.clientIds[i], playerData.icons[i]);
                }
            }).catch(error => { console.error('Error:', error); });
        }

        const socket = io(window.location.hostname === 'localhost' 
                ? 'http://localhost:8080' 
                : 'https://out-of-context-0b91e7b9a70a.herokuapp.com', {
            withCredentials: true  
        });
        socket.on('connect', () => {
            console.log('Connected to the server!');
        });
        socket.on('disconnect', () => {
            console.log('Disconnected from server!');
        });
        socket.on('message', (data) => {
            console.log('Message from server:', data);
        });
        socket.on('playerJoined', (data) => {                       // PLAYER JOINS ROOM
            console.log("player joined lobby");
            AddPlayer(data.gamertag, data.clientId, data.icon);
        });
        socket.on('playerLeft', (data) => {                         // PLAYER LEAVES ROOM
            RemovePlayer(data.clientId);
        });
        socket.on('startGame', (response) => {                      // PLAYER STARTS GAME
            window.location.href = response.redirect;
        });
        socket.on('changedIcon', (data) => {
            if (data.clientId == clientId) return;
            console.log("player changed icon");
            UpdatePlayerIcon(data.clientId, data.icon);
        });
        socket.on('changedName', (data) => {
            if (data.clientId == clientId) return;
            console.log("player changed their name");
            UpdatePlayerName(data.clientId, data.gamertag);
        });

        function AddPlayer(gamertag, clientId, icon)
        {
            var newElement = document.createElement("div");
            newElement.innerHTML = `
            <div class="player-item">
                <div class="other-player-icon"></div>
                <div>${gamertag}</div>
            </div>`;
            console.log(newElement.querySelector(".other-player-icon"));
            newElement.querySelector(".other-player-icon").style.background = `url("/assets/${icon}.png")`;
            playerList.appendChild(newElement);
            playerData[clientId] = newElement;
        }

        function RemovePlayer(clientId)
        {
            console.log(playerData);
            playerData[clientId].remove();
            delete playerData[clientId];
        }

        function UpdatePlayerName(clientId, gamertag)
        {
            playerData[clientId].getElementsByClassName("player-name")[0].textContent = gamertag;
        }

        function UpdatePlayerIcon(clientId, icon)
        {
            console.log('update player icon:', clientId);
            console.log(playerData[clientId]);
            playerData[clientId].querySelector(".other-player-icon").style.background = `url("/assets/${icon}.png")`;
        }

        async function Request(endpoint, method, body=null) 
        {
            const baseURL = window.location.hostname === 'localhost' 
                ? 'http://localhost:8080/api/' 
                : 'https://out-of-context-0b91e7b9a70a.herokuapp.com/api/';
            const URL = `${baseURL}${endpoint}`;
            const response = await fetch(URL, {
                method: method,
                headers: { 'Content-Type': 'application/json' },
                body: body ? JSON.stringify(body) : null  
            });
            
            if (!response.ok) {
                throw new Error(`"${endpoint}" request failed. status: ${response.status}`);
            }
            
            const data = await response.json();
            return data;
        }
    </script>
</body>
</html>