:root {
    --secondary: #2a5fb5;
    --border: #052963;

    --pink-ultra-light: #e0efe3;
    --pink-light: #A3C8A9;
    --pink-dark: #58735d;
/* 
    --pink-light: #e6d7d7;
    --pink-dark: #BD8080; */

    --green-ultra-light: #f0fbf2;
    --green-light: #b8d5bc;
    --green-dark: #77967c;

    --red-light: #C05757;
    --red-dark: #632727;

    --s: 100px; /* control the size*/
    --c1: #ffffff;
    --c2: #D9D9D9;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jac';
    src: url('/fonts/JacquesFrancois-Regular.ttf') format('truetype');
}


body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Jac, Arial, Helvetica, sans-serif;  
    background: white;  
}
button {
    border: 1px solid var(--pink-dark);
    background: var(--pink-light);
    outline: none;
    border-radius: 50px;
    padding: 0.5rem;
    font-family: Jac, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
}
p {
    font-size: 1.4rem;
}
input {
    font-family: Jac, Arial, Helvetica, sans-serif;
    border: 1px solid var(--pink-dark);
    outline: none;
    border-radius: 50px;
    font-size: 1.6rem;
    background: transparent;
}
.page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
    box-sizing: border-box; 
    align-items: center;
    justify-content: center;
    position: relative;


    --s: 5px;
    --c2: #ffffff;
    --c1: #f3f3f3;
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
      var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
      repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));
}
#home-btn {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
#home-btn div {
    background: url('/assets/home.png');
    width: 30px;
    height: 30px;
}
.home-grid {
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(minmax(1fr, 280px));
    gap: 1rem;
}
#title {
    margin-bottom: 5rem;
    margin-top: 0;
    font-size: 2.5rem;
    font-family: Jac, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 20px;
}
#title span {
    color: var(--pink-dark);
    font-family: Rubik, Arial, Helvetica, sans-serif;
}
#player-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--pink-light);
    margin-bottom: 3rem;
    padding: 0.5rem;
    overflow-x: auto;
    box-sizing: border-box;
}
.player-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.3rem;
    background: var(--green-ultra-light);
    border: 1px solid var(--green-dark);
    border-radius: 20px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
}
.other-player-icon {
    width: 100px;
    height: 100px;
    background: var(--pink-light);
}
.player-icon {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--green-dark);
    background: white;
}
#player-icon-image {
    width: 100px;
    height: 100px;
    z-index: 999;
}
#change-icon {
    z-index: 999;
    background: url("/assets/refresh.png");
    background-color: var(--pink-light);
    border: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 85%;
    left: 85%;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#change-icon:hover {
    background-color: var(--pink-dark);
}
#change-icon:active {
    background-color: var(--pink-light);
}
#name-input {
    margin-top: 0.3rem;
    padding: 0.5rem;
}
#write-area {
    border-radius: 20px;
    height: 200px;
    font-size: 1.5rem;
    box-sizing: border-box;
    flex-grow: 1;
    background: var(--green-light);
    border: 1px solid var(--green-dark);
    padding: 0.5rem;
}
#game-end-text {
    border-radius: 20px;
    background: var(--green-light);
    border: 1px solid var(--green-dark);
    padding: 0.5rem;
}
#prev-sentence {
    max-width: 500px;
    overflow-wrap: normal;
}

@media screen and (max-width: 600px) {
    input, button {
        font-size: 1.4rem !important;
        padding: 0.3rem;
    }
    #title {
        font-size: 2.5rem !important;
    }
}
@media screen and (max-width: 500px) {
    input, button {
        font-size: 1.2rem !important;
    }
    #title {
        font-size: 1.8rem !important;
    }
    #write-area {
        width: 300px !important;
    }
}